<h2>This is the details of the specific user you selected</h2>

<div>
   <%= render partial: 'layouts/user', locals: {user: @user}%>
    <div class='user_bio'>
      <%= @user.bio %>
    </div>
  <div class='space'>
    <%= link_to 'Back', users_path(@user) %>
    <%= link_to 'Create Post', new_user_post_path(@user) %>
  </div>
    <div class='posts'>
      <% @user.recent_posts.each do |post|%>
          <div class='post'>
            <h4 class='post_title'>
            <%= link_to user_post_path(@user, post) do %>
              <%= post.title %>
            <% end %>
            </h4>
            <p class='post_body'>
              <%= post.body %>
            </p>
            <span class='comments_likes'>
              <p>
                Comments:
                <%= post.comments_counter %>
              </p>
              <p>
                Likes:
                <%= post.likes_counter %>
              </p>
            </span>
          </div>
      <% end %>

      <div class='btn_container'>
        <%= link_to user_posts_path(@user) do %>
          See all Posts
        <% end %>
      </div>


    </div>

</div>
