<h1>List of all Posts by a user</h1>
<div>
  <%= render partial: 'layouts/user', locals: {user: @user} %>
  <div class='posts'>
      <% @posts.each do |post|%>
          <div class='posts_comments'>
            <%= link_to user_post_path(@user, post) do %>
              <div class='post'>
                <h4 class='post_title'>
                  <%= post.title %>
                </h4>
                <p class='post_body'>
                  <%= post.body %>
                </p>
              </div>
            <% end %>
            <% if post.latest_comments.count > 0 %>
              <span class='post_comments_likes'>
                  <% post.latest_comments.each do |comment| %>
                    <p class='post_comment'>
                      <%= comment.author.name%>:
                      <%= comment.body %>
                    </p>
                  <% end %>
              </span>
            <% end %>
          </div>
      <% end %>
      <div class="flickr_pagination">
        <%= will_paginate @posts, :container => false %>
      </div>
  </div>
</div>