<h2>Details of post for a given ID</h2>
<div class='post_info'>
  <div class='post_header'>
    <h3><%= @post.title %> by <%=@post.author.name%></h3>
    <span class='comments_likes'>
      <p>
        Comments:
        <%= @post.comments_counter %>
      </p>
      <p>
        Likes:
        <%= @post.likes_counter %>
      </p>
    </span>
       <div class='delete_post_show'>
         <% if user_signed_in? && (can? :destroy, @post) %>
            <%= button_to 'Delete Post', user_post_path(@user, @post.id), method: :delete %>
        <% end %>
      </div>
  </div>
  <p>
    <%= @post.body%>
  </p>

</div>
<% if @post.comments.count > 0 %>
  <div class='post_comments'>
    <% @post.comments.each do |comment| %>
    <div class='comment_container'>
      <p class='post_comment'>
        <%= comment.author.name%>:
        <%= comment.body %>
      </p>
      <p class='delete_btn'>
        <% if user_signed_in? && (can? :destroy, @post) %>
          <%= button_to 'Delete Comment', user_post_comment_path(@user, @post, comment), method: :delete %>
        <% end %>
      </p>
    </div>
    <% end %>
  </div>
<% end %>
<div class='space'>
  <%= link_to 'Back', user_posts_path %>
  <%= button_to "Like", user_post_likes_path(@post.author.id, post_id: @post.id), method: :post %>
  <%= link_to 'create comment', new_user_post_comment_path(@post.author.id, @post.id) %>
</div>
